@model JuicyNews.ViewModels.News.NewsCreateViewModel
@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateNews</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <div>@Html.ValidationSummary(true)</div>
        <table>
            <tr>
                <td>Title:</td>
                <td>@Html.EditorFor(model => model.Title)</td>
                <td>@Html.ValidationMessageFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>Content:</td>
                <td>@Html.EditorFor(model => model.Content)</td>
                <td>@Html.ValidationMessageFor(model => model.Content)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Publish" /></td>
            </tr>
        </table>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
