@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<DataAccess.Entity.User> users = (List<DataAccess.Entity.User>)ViewData["users"];

}

<h2>Index</h2>

@Html.ActionLink("Create News", "CreateNews", "News")

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @foreach (var news in (List<DataAccess.Entity.News>)ViewData["news"])
    {
        var editLink = "/News/EditNews?id=" + news.Id;
        var deleteLink = "/News/DeleteNews?id=" + news.Id;
        var viewLink = "/News/ViewNews?id=" + news.Id;
        bool authorNotFound = true;
        <tr>
            <td>
                @news.Title
            </td>
            <td>
                @foreach(var user in users)
                {
                    authorNotFound = true;
                    if (news.UserId == user.Id)
                    {
                        <div>@user.FirstName @user.LastName</div>
                        authorNotFound = false;
                        break;
                    }
                }

                @if (authorNotFound)
                {
                    <div>Unknown</div>
                }
            </td>
            <td>
                <a href="@viewLink">View</a>
            </td>
            <td>
                <a href="@editLink">Edit</a>
            </td>
            <td>
                <a href="@deleteLink">Delete</a>
            </td>
        </tr>
    }
</table>