@model JuicyNews.ViewModels.Profile.ProfileIndexViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAccess.Entity.User user = (DataAccess.Entity.User)ViewData["userProfile"];
}

<h2>Profile</h2>
@{ 
    var editLink = "/User/EditUser?id=" + Model.Id;
}
<table>
    <tr>
        <td>Username:</td>
        <td>@Html.DisplayFor(model => model.Username)</td>
    </tr>
    <tr>
        <td>Full Name:</td>
        <td>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td>
            <a href="@editLink">Edit Profile</a>
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}